In [4]:
import mysql.connector as a
con = a.connect(host="localhost",
               user="root",
               passwd="Aman#123",
               database="EmployeeManagementSystem2")



sql = """CREATE TABLE office
(Ecode VARCHAR(10),
Name VARCHAR(20),
Post VARCHAR(20),
Joining VARCHAR(20),
Basicpay integer)"""
c = con.cursor()
c.execute(sql)

In [5]:
sql = """CREATE TABLE personal
(Name VARCHAR(20),
City VARCHAR(20),
Birtdate VARCHAR(20),
phone VARCHAR(10))"""
c = con.cursor()
c.execute(sql)

In [6]:
sql = """CREATE TABLE salary
(Ecode VARCHAR(10),
Name VARCHAR(20),
Year VARCHAR(20),
Month VARCHAR(15),
WorkingD integer,
FinalPay integer)"""
c = con.cursor()
c.execute(sql)

In [ ]:
def npersonal():
    n = input("Enter Employee Name : ")
    c = input("Enter Employee's City Name : ")
    d = input("Enter Employee's DOB : ")
    p = input("Enter Employee phone : ")
    data=(n,c,d,p)
    sql='insert into personal values(%s,%s,%s,%s)'
    c=con.cursor()
    c.execute(sql,data)
    con.commit()
    print("\n##Data Inserted Successfully##\n")
    main()
    
def personal():
    sql="select * from personal"
    c=con.cursor()
    c.execute(sql)
    d=c.fetchall()
    for i in d:
        print(i)
    main()
    
def noffice():
    ec = input("Enter Employee code : ")
    n = input("Enter Employee's Name : ")
    p = input("Enter Employee's Post : ")
    j = input("Enter Employee Joining Date : ")
    bp = int(input("Enter Employee BasicPay/assigned salary : "))
    data=(ec,n,p,j,bp)
    sql='insert into office values(%s,%s,%s,%s,%s)'
    c=con.cursor()
    c.execute(sql,data)
    con.commit()
    print("\n##Data Inserted Successfully##\n")
    main()
    
def office():
    sql="select * from office"
    c=con.cursor()
    c.execute(sql)
    d=c.fetchall()
    for i in d:
        print(i)
    main()
    
def nsalary():
    ec = input("Enter Employee code : ")
    v=(ec,)
    sql='select Basicpay from office where Ecode = %s'
    c=con.cursor()
    c.execute(sql,v)
    bs=c.fetchone()
    n = input("Enter Employee's Name : ")
    y = input("Enter year : ")
    m = input("Enter month : ")
    wd = int(input("Enter Working Days : "))
    td = int(input("Enter Total Days : "))
    fp=bs[0]/td*wd
    data=(ec,n,y,m,wd,fp)
    sql='insert into salary values(%s,%s,%s,%s,%s,%s)'
    c=con.cursor()
    c.execute(sql,data)
    con.commit()
    print("\n##Data Inserted Successfully##\n")
    main()
    
def salary():
    sql="select * from salary"
    c=con.cursor()
    c.execute(sql)
    d=c.fetchall()
    for i in d:
        print(i)
    main()
    
def main():
    print("""
    1. Add Employee Personal Detail
    2. Display Employee Personal Detail
    3. Add Employee Office Detail
    4. Display Employee Office Detail
    5. Add Employee Salary Detail
    6. Display Employee Salary Detail
    """)
    ch=int(input("Enter Choice: "))
    while ch:
        if(ch==1):
            npersonal()
        elif(ch==2):
            personal()
        elif(ch==3):
            noffice()
        elif(ch==4):
            office()
        elif(ch==5):
            nsalary()
        elif(ch==6):
            salary()
        else:
            print("Invalid Choice.")
            ch=0;
main()